*{
    margin: 0;
    padding: 0;
}

body{
    background: linear-gradient(90deg, #951931 , #2bba56);
}
.container{
    width: 100%;
    height: 100vh;
}

.container .card{
    height: 65vh;
    width: 300px;
    background: rgba(255,255,255,.3);
    border-radius: 23px;
    box-shadow: rgba(0,0,0,.18);
    border-top: 1px solid rgba(255,255,255,.2);
    border-left: 1px solid rgba(255,255,255,.2);
}
.flex-box{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
}
h2{
    text-align: center;
    position: relative;
    top: 5%;
    font-weight:500;
    font-size: 30px;
    color: #ffff;
    font-family:sans-serif;
    text-shadow: rgba(0,0,0,.18);
}

.input{
    margin:10px 0px;
}

.input input{
    width: 90%;
    height: 22px;
    margin:10px;
    outline: none;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    text-indent: 30px;
    padding: 3px 5px;
    color: #000;
    box-shadow: rgba(0,0,0,.18);
}

::placeholder{
    font-weight: bold;
    text-indent: 30px;
    padding: 3px 5px;
    color: #000;
}

button{
    background-color: rgb(215, 12, 154);
    outline: none;
    border: none;
    font-weight: bold;
    padding: 3px 15px;
    color: #fff;
    margin: 10px 90px;
    cursor: pointer;
    border-radius: 10px;
}

button:hover{
    background-color: rgb(40, 13, 120);
}

p
{ 
    font-weight: bold;
    padding: 3px 15px;
    color: rgb(0, 0, 0);
    text-align: center;
}

.builder{
    font-size: 1rem;
    background: rgba(255, 255, 255, 0.39);
    width: 250px;
    border-radius: 20px;
    left: 40%;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 10px;
    color: rgb(0, 0, 0);
}

 a{
    color: #916ec2;
 }