
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Times New Roman', Times, serif;
    min-height: 100vh;
    background: rgb(255, 255, 255);
    color: rgb(109, 15, 224);
}

.heading{
    margin-top: 30px;
    text-align: center;
    font-size: 2rem;
}

.btn{
    margin: 20px auto;
    padding: 10px 30px;
    display: block;
    border: 3px solid black;
    border-radius: 5px;
    font-size: 1rem;
    background: #fff;
    color: #000;
    cursor: pointer;
}

.btn:hover{
    background: #06745e;
    color: rgb(255, 255, 255);
}

.container{
    display: flex;
    flex-wrap: wrap;
}

.box{
    width: 33.3%;
    height: 125px;
    background: #fff;
    border: 2px solid black;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    text-transform: uppercase;
    color: black;
    cursor: pointer;
}

.builder {
    left: 0;
    bottom: 0;
    margin: 15px;
    width: 100%;
    color: rgb(0, 0, 0);
    text-align: center;
  }
  
 a{
    color: #1f51ff;
 }